.container{
    background: rgb(225, 231, 235);
    margin-bottom: 20px;
}
.container-fluid{
    background: gray;
}

.col-12{
    border: 1px solid #000;
}
.progress{
    margin-bottom: 20px;
}
.texto{
    width: 200px;
    height: 300px;
}